<div>
  <div class="container-fluid container-lg">
    <div class="row">
      <div class="col-auto">
        <img src="./assets/logo.png">
      </div>
      <div class="col">
        <label>
          Поиск по сайту:
          <input type="text">
        </label>
      </div>
      <div class="col">
        <button>Отправить заявку</button>
      </div>
      <div class="col">
        <div>
          +7 (495) 792-37-02
        </div>
        <div>
          +7 (495) 792-37-02
        </div>
        <div>
          +7 (495) 792-37-02
        </div>
      </div>
    </div>
  </div>
  <div class="row bg-black">
    <div class="col">
      <a class="color-white">
        О компании
      </a>
    </div>
    <div class="col">
      <a class="color-white">
        Каталог
      </a>
    </div>
  </div>
</div>